<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <handlers>
      <add name="ProxyHandler"
           path="*"
           verb="*"
           modules="RewriteModule"
           resourceType="Unspecified"
           requireAccess="None" />
    </handlers>

    <proxy reverseProxy="true" />

    <rewrite>
      
      <rules>
        <rule name="FlaskProxy" stopProcessing="true">
          <match url="(.*)" />
          
          <action type="Rewrite"
                  url="http://localhost:5001/{R:1}"
                  appendQueryString="true" />
          
          <serverVariables>
            <set name="HTTP_REMOTE_USER" value="{REMOTE_USER}" />
            <set name="HTTP_AUTH_USER" value="{AUTH_USER}" />
            <set name="HTTP_LOGON_USER" value="{LOGON_USER}" />
            <set name="HTTP_ACCEPT_ENCODING" value="" />
          </serverVariables>

        </rule>
      </rules>

      <outboundRules>
          <rule name="Remove Accept Encoding" patternSyntax="ECMAScript">
              <match serverVariable="RESPONSE_VARY" pattern="Accept-Encoding" />
              <action type="Rewrite" value="" />
          </rule>
      </outboundRules>

    </rewrite>

    <security>
      <authentication>
        
        <anonymousAuthentication enabled="true" />
        
        <windowsAuthentication enabled="true">
          <providers>
            <clear />
            <add value="Negotiate" />
            <add value="NTLM" />
          </providers>
        </windowsAuthentication>
      </authentication>
    </security>

  </system.webServer>
</configuration>